body {
    background-color: #000000; 
    color: #FFFFFF; 
}

.btn-primary {
    background-color: #FF0000 !important;  
    border-color: #FF0000 !important;  
}

.btn-primary:hover {
    background-color: #CC0000 !important;  
    border-color: #CC0000 !important;  
}

.inicio-fundo {
    background-color: #333; 
    padding: 50px;
    color: #FFFFFF;
}

.img-inicio {
    max-width: 50%;
    border-radius: 15px;
}

.secao-historia, .fundo-galeria {
    background-color: #222; 
    padding: 40px;
    color: #FFFFFF;
}

.formulario {
    background-color: #333;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
}

footer {
    background-color: #111;
    color: #FFFFFF;
    padding: 20px;
}

footer i {
    font-size: 1.5rem;
    margin: 0 10px;
}

header nav img{
    width: 100px;
}